#overlay {
  top: 0;
  left: 0;
  height: '100%';
  width: '100%';
}
#overlay div {
display: flex;
text-align: center;
justify-content: center;
align-items: center;
color: white;
font-weight: bold;
font-family: initial;
}

#overlay > div {
  position: relative;
}

.imgClass {
  font-size: large;
}